
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Hotel - Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>We apologise, our web-chat service is currently down. </h1><p></p>
    <h1>Please load the client - client to see the bi-directional gRPC working. </h1>

    <!-- Links to seperate HTML pages, service published in each-->
    <a href="/">Return to the main menu</a>
   
  </body>
</html>
