
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Hotel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Button style based off of https://www.w3schools.com/w3css/w3css_buttons.asp -->

    <style>
      .button {
        background-color: #FFFFFF;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }

      .button.active,
      .button:active,
      .button.active:hover,
      .button:active:hover {
      background-color: #008CBA;
      color: white;
      }
      
      .button {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      
      .button:hover {
          background-color: #008CBA;
          color: white;
        }

        h1 span {
          color: #008CBA;
        }

        </style>
</head>
  <body>
    

    <!-- Links to seperate HTML pages, service published in each-->
    <h1><center><span>SmartHotel :: </span>Welcome to the Smart Hotel<span> ::</span></center></h1>
    
    <hr>
    <center>
    <a href="/"><button class="button" id="indexButton">Home</button></a>
    <a href="/reserve"><button class="button">Reserve</button></a>
    <a href="/localAttractions"><button class="button">Local Attractions</button></a>
    <a href="/temperature"><button class="button">Temperature</button></a>

    <script>
      document.addEventListener('DOMContentLoaded', function () { // Event listener to check what page guest is on and to set the button colour to active (blue) based on https://stackoverflow.com/questions/34186640/button-active-using-javascript-and-css
          var temperatureButton = document.getElementById('indexButton');
          if (window.location.pathname === '/') {
              temperatureButton.classList.add('active');
          }
      });
  </script>

    </center>
    <hr>

    <center>
    <h1>Choose your service from the menu above</h1>
    <p>Please note our chat function is down, you will need to access it via client-client to see the bi-directional gRPC.</p>
    </center>

  </body>
</html>
