
<!DOCTYPE html>
<html>
  <head>
    <title>Smart Hotel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Smart hotel - please choose your service</h1>

    <!-- Links to seperate HTML pages, service published in each-->
    <a href="/reserve"><button>Reserve</button></a> 
    <a href="/localAttractions"><button>Local Attractions</button></a>
    <a href="/temperature"><button>Temperature</button></a>
   
  </body>
</html>
