<!DOCTYPE html>
<html>
<head>
    <title>Local Attractions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .button {
          background-color: #FFFFFF; 
          border: none;
          color: white;
          padding: 8px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 4px;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        
        .button.active,
        .button:active,
        .button.active:hover,
        .button:active:hover {
        background-color: #008CBA;
        color: white;
        }

        .button {
          background-color: white; 
          color: black; 
          border: 2px solid #008CBA;
        }
        
        .button:hover {
          background-color: #008CBA;
          color: white;
        }

        h1 span {
          color: #008CBA;
        }

        </style>
</head>
<body>
    
    <h1><center><span>SmartHotel :: </span>See our local attractions<span> ::</span></center></h1>

    <hr>
    <center>
    <a href ="/"><button class="button">Home</button></a>
    <a href="/reserve"><button class="button">Reserve</button></a>
    <a href="/localAttractions"><button class="button" id="localAttractionsButton">Local Attractions</button></a>
    <a href="/temperature"><button class="button">Temperature</button></a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var temperatureButton = document.getElementById('localAttractionsButton');
            if (window.location.pathname === '/localAttractions') {
                temperatureButton.classList.add('active');
            }
        });
    </script>

    </center>
    <hr>
    Get to know the area fast with our top rated local attractions!<hr>

    <!-- Publishes Server-Client gRPC info listed in app.js getLocalAttracions function -->
    <% for (var i = 0; i < localAttractions.topAttractions.length; i++) {
      var attraction = localAttractions.topAttractions[i];
  %>
    <p><b><%= attraction.attractionName %></b> rated <%= attraction.attractionRating %> / 10</p>
  <%
    }
  %>
  <hr>

    <!-- Unary gRPC -->

    <form action="/localAttractions/distance" method="get"> <!-- Unary gRPC -->
      <label for="distanceToTravel">How far would you like to travel (up to 10km)?</label>
      <div style="display: flex; align-items: center;">

         <!-- Originally had enter number, too similar to reserved page, swapped for range slider: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range -->
         <!-- oninput sets the distanceToTravel number which is picked up by var distanceToTravel in the localAttractions route -->
         
          <input type="range" name="distanceToTravel" min="0" max="10" value="10" oninput="rangeValue.innerText = this.value + 'km'">
          <p id="rangeValue" style="margin-left: 10px;"></p>
      </div>
      <button type="submit">Go!</button>
  </form>

    <!-- The above distanceToTravel value is then inputted into the attractions call, info sent back to view and displayed via the below -->
    <%
    for (var i = 0; i < localAttractions.distanceAttractions.length; i++) {
        var attraction = localAttractions.distanceAttractions[i];
    %>
        <p><b>The <%= attraction.attractionName %></b> is only <%= attraction.distance %>kms away.</p>
    <%
    }
    %>
   
</body>
</html>
