<!DOCTYPE html>
<html>
<head>
    <title>Temperature Control</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Set your temperature</h1>
    <hr>
    <form action="/temperature" method="post">
        <label for="temp">Set temperature:</label>
        <input type="number" name="temp" id="temp" required>
        <label for="hours">Set hours:</label>
        <input type="number" name="hours" id="hours" required>
        <button type="submit">Set Temperature</button>
    </form>

    <!-- Client-Server gRPC -->

    <% if (temperatureInfo) { %>
        <h2>Temperature Information</h2>
        <p>Requested Temperature: <%= temperatureInfo.requestedTemp %> °C</p> <!-- Displays guests requested temperature -->
        <p>Duration: <%= temperatureInfo.requestedHours %> hours</p> <!-- Displays guests requested duration in hours -->
        <p>Temperature set to: <%= temperatureInfo.currentTemp %> °C</p> <!-- Initially set to 20, keeps whatever guest sets it to -->
    <% } %>

    

    <a href="/">Return to main menu</a>

</body>
</html>
